.pointer, .tm-more-button {
	cursor: pointer;
}

.modal_sesion h2, .modal_registro h2 {
	margin-top: 50px;
}

.bg_marron {
	background-color: #4B2C22;
	/*background-color: rgba (209, 69, 0, 0.60);*/
	/*rgba (209, 69, 0, 0.60)*/
	color: #C79C60;
	padding: 20px;
}

@media only screen and (max-width: 600px) {
	.pie_modal a {
		float: none !;
	}
	.pie_modal.w3-left {
		float: none!important;
		/*display: block;*/
	}
	.pie_modal .w3-right {
		float: none!important;
		/*display: block;*/
	}
	.pie_modal .w3-col {
		margin-top: 15px;
		padding-left: 30% !important;
		padding-right: 30% !important;
		/*display: block;*/
	}
}

.modal_sesion input, .modal_registro input {
	background-color: #4B2C22;
	color: #C79C60;
	margin-bottom: 10px;
}

.w3-modal {
	background-color: transparent !important;
	/*background-color: #4B2C22 !important;*/
	/*overflow: hidden;*/
	/*padding-top: 50px;*/
}

/*.w3-modal-content {
	border-radius: 100px !important;
}*/

.w3-modal {
	/*z-index: 3;*/
	/*display: none;*/
	padding-top: 100px !important;
	/*position: fixed;*/
	/*left: 0;*/
	/*top: 0;*/
	width: 100%;
	height: 100%;
	margin-bottom: 500px !;
	/*overflow: auto;*/
	/*background-color: rgb(0, 0, 0);*/
	/*background-color: rgba(0, 0, 0, 0.4)*/
}

.fondo_modal {
	background-color: #282726;
	color: #FFFFFF;
}

.w3-animate-zoom {
	animation: animatezoom 0.9s;
}

.btn_enviar {
	border: none;
	background-color: transparent;
	border-radius: 20px;
}

.fondo_modal {
	border-top: 1px solid #C79C60;
}

.cuerpo_modal {
	padding-bottom: 20px;
}

.modal_registro .pie_modal input[type="button"] {
	border: none !important;
	background-color: transparent !important;
}

.modal_registro input[type="button"] {
	border: none !important;
	background-color: transparent !important;
}

/*.form_trasicion {
	height: 0px;
	transition: height 10s;
}*/

.form_trasicion {
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		height: 100%;
	}
	75% {
		height: 50%;
	}
	to {
		height: 0%;
	}
}
